$orange: #FE7865;
$grey: #F3F3F3;
$text: #2C2E3F;
$font: 'Poppins', sans-serif;

nav {
    width: 80vw;
    position: relative;

    ul {
        margin: auto 0;
        position: relative;
        width: 80vw;
        height: 100%;
        display: flex;
        align-items: flex-start;
        // background: red;
        
        li {
            margin: 40px 35px 50px 0px;
            font-family: $font;
            font-size: 12px;
            color: $text;
            cursor: pointer;

        }
        .home{
            color: $orange;
        }
    }
}